.education-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.education-card-container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}