.aboutme-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}
h2 {
    cursor: pointer;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease-in-out;
    gap: 2rem;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.img-conatiner{
    flex: 1;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
.img-container img {
    width: 20em; 
    height: 20em;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(0, 255, 34);

}
.img-container.open {
    order: 1;
}

