header {
    background-color: black;
    color: white;
    padding: 1rem;
    align-items: center; 
}

.nav-header {
    display: flex;
    gap: 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: auto;
    gap: 2rem;
}

nav a {
    color: white !important;
    text-decoration: none !important;
}

nav a:hover {
    text-decoration: underline;
}