header{
    background-color: black;
    color: white;
    padding: 1rem;
    align-items: center; 
}
.nav-header{
    display: flex;
    gap: 2rem;
}
nav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    margin-left: auto;
    gap: 2rem;
}
a{
    color: white;
}