.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-content-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.skill-detail-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.skill-icon {
    font-size: 3em;
    cursor: pointer;
}
.experience-content-container {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.internship-icon {
    font-size: 1em;
}
